  @model Category




@{
    ViewData["Title"] = "Detail";
}




@section css2 {
    <link rel="stylesheet" href="~/css/blogdetail.css">

}


<div class="container ">
    <form method="post" asp-action="Detail">



        <div class="card mx-auto col-md-3 col-10 mt-5" data-id="@Model.Id">
           

            <div class="card-body text-center mx-auto">
                <div class='cvp'>
                    <a href="#" class="btn details px-auto">@Model.Name</a><br />
                    <span class="card-title font-weight-bold">@Model.CreatedDate</span>                  

                </div>

                @foreach (var item in Model.Products)
                {
                    @foreach (var name in item.Name)
                    {
                        <span class="card-title font-weight-bold">@name</span>

                    }

                 
                    
                        @foreach (var img in item.ProductImages)
                        {
                        <a asp-controller="Product" asp-action="Index" >
                            <img style="width:50px;height:50px " src="~/img/@img.Name" class="d-flex " />
                        </a>
                        }

                    

                }


                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center  mt-3"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1"> <a asp-action="Index" style=" color: black">Back</a> </span> </div>
                </div>
             
            </div>
        </div>

        <a class="btn btn-light " asp-action="Index">Cancel</a>


    </form>


</div> 